<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day19_page</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProductServlet</display-name>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <url-pattern>/adminDeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProductServlet</display-name>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminAddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProductServlet</servlet-name>
    <url-pattern>/adminAddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddProServlet</display-name>
    <servlet-name>AdminAddProServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminAddProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddProServlet</servlet-name>
    <url-pattern>/adminAddPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/adminEditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProServlet</display-name>
    <servlet-name>AdminEditProServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminEditProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProServlet</servlet-name>
    <url-pattern>/adminEditPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductListServlet</display-name>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminSearchProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductListServlet</servlet-name>
    <url-pattern>/adminSearchProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientShowAllProductServlet</display-name>
    <servlet-name>ClientShowAllProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.ClientShowAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientShowAllProductServlet</servlet-name>
    <url-pattern>/clientShowAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteAllProductServlet</display-name>
    <servlet-name>AdminDeleteAllProductServlet</servlet-name>
    <servlet-class>com.lixinxin.web.AdminDeleteAllProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAllProductServlet</servlet-name>
    <url-pattern>/adminDeleteAllProduct</url-pattern>
  </servlet-mapping>
</web-app>